h1 {
 margin-left: 450px;
  background: -webkit-linear-gradient(red,blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
 
}

h3 {
  text-align: center;
  color: crimson;
  font-family: cursive;
  font-size: 25px;
  position: absolute;
  margin-top: -59px;
  margin-left: 670px;
}
 #but{
  color: rgb(17, 17, 17);
  background-color: coral;
  position:absolute;
  font-family: cursive;
  margin-left: 900px;
  margin-top: -58px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(141, 141, 141);
 }

 #but:hover{
  box-shadow: 2px 2px 5px rgb(42, 143, 12);
  transform: scale(1.1);
 }